@use "../../Utility/Styles/Variable" as *;
@use "../../Utility/Styles/Helper" as *;

.card {
	position: relative;
	@include flex(center, center);

	width: 100%;
	height: fit-content;

	// Start - Common Styles
	& * {
		transition: all 0.1s linear;
	}

	& .icon {
		transition: none;
	}

	& :is(h1, h2, h3, h4, h5, h6, p, a) {
		color: var(--clr_blueDark);
	}
	// End - Common Styles

	& .fileNameContainer {
		width: 100%;
		height: fit-content;
		border-radius: 3px;
		padding: 13px 10px 13px 20px;
		border: 3.5px solid var(--clr_blueLight);
		cursor: pointer;

		&:is(:hover, :focus) {
			background-color: var(--clr_blueLight);
		}

		& .fileName {
			font-size: 1.2rem;
			font-weight: var(--fw_medium);
		}
	}
}

.btnDelete {
	position: absolute;
	inset: auto 10px auto auto;

	width: 45px;
	height: 45px;
	border-radius: 3px;
	background-color: var(--clr_redLight);

	& .icon {
		color: var(--clr_red);

		width: 17px;
		height: 17px;
		margin-top: 5px;
	}

	&:hover {
		background-color: var(--clr_red);

		& .icon {
			color: var(--clr_white);
		}
	}
}
